<h1>センテンス一覧</h1>

<p>
  <%= link_to 'start', answers_start_path %>
</p>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>原文</th>
      <th>訳文</th>
      <th>全</th>
      <th>正</th>
      <th>last</th>
    </tr>
  </thead>
  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= link_to sentence.id, sentence_path(sentence) %></td>
        <td><%= sentence.english %></td>
        <td><%= sentence.japanese %></td>
        <% count = sentence.count
           count ||= Count.new %>
        <td><%= count.try %></td>
        <td><%= count.correct %></td>
        <td><%= count.updated_at ?
                  count.updated_at.strftime('%Y/%m/%d-%H:%M:%S') :
                  '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p id="page-top"><a href="#wrap">PAGE TOP</a></p>
