<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @sentence.id %>
</p>

<p>
  <strong>English:</strong>
  <%= @sentence.english %>
</p>

<p>
  <strong>Japanese:</strong>
  <%= @sentence.japanese %>
</p>

<%= link_to 'Edit', edit_sentence_path, class: 'btn btn-warning' %>
