<p style="font-size: 20; color: red">
  <% if @result %>
    正解！
  <% elsif %>
    残念！
  <% end %>
</p>
<p>
問題: <%= @sentence.japanese %>
</p>
<p>
解答: <%= @sentence.english %>
</p>
<p>
回答: <%= @user_answer %>
</p>
<p>
<%= link_to 'next', answers_start_path, id: 'next_link' %>
</p>

<%= link_to 'list', sentences_path %>

<%= link_to 'Edit', edit_sentence_path(@sentence) %>
